.system-button {
  border: none;
  background: #d8d8d8;
  color: #4a4a4a;
  display: flex;
  padding: 4px;
  border-radius: 4px;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  
  &:focus, &:hover {
    background: #afafaf;
  }
  &:focus {
    box-shadow: 0 0 0 2px white, 0 0 4px 4px #4a4a4a;
  }
  &--pressed {
    background: #727272 !important;
  }
}
